$black: #010101;
$sea: #69c9d0;
$white: #ffffff;
$cryola: #ee1d52;

.accent {
  color: $colorAccent !important;
}

.accent-bg {
  background-color: $colorAccent !important;
}

.black {
  color: $black !important;
}

.black-bg {
  background-color: $black !important;
}

.sea {
  color: $sea !important;
}

.sea-bg {
  background-color: $sea !important;
}

.cryola {
  color: $cryola !important;
}

.cryola-bg {
  background-color: $cryola !important;
}

.white {
  color: $white !important;
}

.white-bg {
  background-color: $white !important;
}
