@import "./variables";
@import "./animation";

.modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  padding: 5%;
  display: none;
  background-color: #0000005b;
  z-index: 1;
}

.modal-visible {
  display: flex !important;
  animation-name: fadein;
  animation-duration: 0.2s;
}

/* Add Animation */

.modal-title {
  font-size: 2em;
  padding: $dimentionsBase $dimentionsBaseSmall;
}

.modal-box {
  background-color: $colorWindow;
  padding: $dimentionsBase;
  border-radius: $roundSmall;
  margin: auto;
}

.modal-content {
  padding: $dimentionsBaseSmall;
}

.modal-footer {
  float: right;
}

.modal-box-fixed {
  width: 300px;
}
