 .card {
     box-shadow: 2px 4px 8px 2px var(--shadow-color);
     transition: 0.3s;
     border-radius: var(--round-small);
     padding: var(--dimentions-base);
     /*width:100% - margin*2 */
     width: calc(100% - var(--dimentions-base-small));
     margin: calc(var(--dimentions-base-small)/2);
 }
 
 .card-fill {
     height: calc(100% - var(--dimentions-base-small));
 }
 
 .card-cover {
     margin: calc(-1*var(--dimentions-base));
     position: relative;
 }
 
 .card-cover>.card-cover-title {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95));
     padding: var(--dimentions-base);
     margin-bottom: calc(var(--dimentions-base-small)/2);
     color: #fff;
 }
 
 .card-body {
     padding-top: var(--dimentions-base);
 }
 
 .card-cover>img,
 .card-cover>video {
     border-radius: var(--round-small) var(--round-small) 0 0;
     object-fit: cover;
     height: 300px;
 }
 /*Full cover*/
 
 .card-cover-full {
     margin: calc(-1*var(--dimentions-base));
     height: 300px;
 }
 
 .card-cover-full>img,
 .card-cover-full>video {
     height: 100% !important;
     border-radius: var(--round-small) !important;
 }
 
 .card-cover-full>.card-cover-title {
     margin-bottom: 0 !important;
     border-radius: var(--round-small);
 }