:root {
    /*100/12*/
    --min-column-width: 8.3%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

.col-1 {
    flex-basis: var(--min-column-width);
}

.col-2 {
    flex-basis: calc(var(--min-column-width)*2);
}

.col-3 {
    flex-basis: calc(var(--min-column-width)*3);
}

.col-4 {
    flex-basis: calc(var(--min-column-width)*4);
}

.col-5 {
    flex-basis: calc(var(--min-column-width)*5);
}

.col-6 {
    flex-basis: calc(var(--min-column-width)*6);
}

.col-7 {
    flex-basis: calc(var(--min-column-width)*7);
}

.col-8 {
    flex-basis: calc(var(--min-column-width)*8);
}

.col-9 {
    flex-basis: calc(var(--min-column-width)*9);
}

.col-10 {
    flex-basis: calc(var(--min-column-width)*10);
}

.col-11 {
    flex-basis: calc(var(--min-column-width)*11);
}

.col-12 {
    flex-basis: calc(var(--min-column-width)*12);
}

@media (max-width: 1024px) {
    /* On large screens*/
}

@media (max-width: 768px) {
    /* On medium screens*/
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col {
        flex-basis: 100%;
    }
    .col-m-1 {
        flex-basis: var(--min-column-width);
    }
    .col-m-2 {
        flex-basis: calc(var(--min-column-width)*2);
    }
    .col-m-3 {
        flex-basis: calc(var(--min-column-width)*3);
    }
    .col-m-4 {
        flex-basis: calc(var(--min-column-width)*4);
    }
    .col-m-5 {
        flex-basis: calc(var(--min-column-width)*5);
    }
    .col-m-6 {
        flex-basis: calc(var(--min-column-width)*6) !important;
    }
    .col-m-7 {
        flex-basis: calc(var(--min-column-width)*7);
    }
    .col-m-8 {
        flex-basis: calc(var(--min-column-width)*8);
    }
    .col-m-9 {
        flex-basis: calc(var(--min-column-width)*9);
    }
    .col-m-10 {
        flex-basis: calc(var(--min-column-width)*10);
    }
    .col-m-11 {
        flex-basis: calc(var(--min-column-width)*11);
    }
    .col-m-12 {
        flex-basis: calc(var(--min-column-width)*12);
    }
}

@media (max-width: 480px) {
    /* On small screens*/
    .col-s-1 {
        flex-basis: var(--min-column-width);
    }
    .col-s-2 {
        flex-basis: calc(var(--min-column-width)*2);
    }
    .col-s-3 {
        flex-basis: calc(var(--min-column-width)*3);
    }
    .col-s-4 {
        flex-basis: calc(var(--min-column-width)*4);
    }
    .col-s-5 {
        flex-basis: calc(var(--min-column-width)*5);
    }
    .col-s-6 {
        flex-basis: calc(var(--min-column-width)*6) !important;
    }
    .col-s-7 {
        flex-basis: calc(var(--min-column-width)*7);
    }
    .col-s-8 {
        flex-basis: calc(var(--min-column-width)*8);
    }
    .col-s-9 {
        flex-basis: calc(var(--min-column-width)*9);
    }
    .col-s-10 {
        flex-basis: calc(var(--min-column-width)*10);
    }
    .col-s-11 {
        flex-basis: calc(var(--min-column-width)*11);
    }
    .col-s-12 {
        flex-basis: calc(var(--min-column-width)*12);
    }
}