.list {
    list-style: none;
}

.list>li {
    padding: var(--dimentions-base);
    background-color: var(--color-window);
}

.list>li.active {
    border-left: 2px solid var(--color-accent);
    filter: brightness(95%);
}

.list>li>.sufix {
    float: right;
}

.list>li:hover {
    filter: brightness(95%);
}

.list.horizontal>li {
    display: inline-block;
}

.sublist {
    margin-left: var(--dimentions-base);
    position: relative;
}


/* .sublist:before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-accent);
} */

.label {
    font-size: var(--font-size-small);
    background-color: var(--color-text-secoundary);
    color: var(--color-text-primary-light);
    padding: calc(var(--dimentions-base-small)/2) var(--dimentions-base-small) calc(var(--dimentions-base-small)/2) var(--dimentions-base-small);
    border-radius: calc(var(--round-small)/2);
}

.badge {
    display: inline-block;
    font-size: var(--font-size-xsmall);
    line-height: calc(var(--dimentions-base)*1.2);
    width: calc(var(--dimentions-base)*1.2);
    height: calc(var(--dimentions-base)*1.2);
    vertical-align: middle;
    background-color: var(--color-accent);
    text-align: center;
    font-weight: 800;
    color: var(--color-text-primary-light);
    border-radius: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown>.list {
    display: none;
    position: absolute;
    background-color: var(--color-window);
    min-width: 160px;
    box-shadow: 2px 4px 8px 2px var(--shadow-color);
    z-index: 1;
}

.dropdown:hover.dropdown>.list {
    display: block;
}