:root {
    --side-bar-width: 300px;
}


/* Sidebar*/

.sidebar {
    position: fixed;
    width: var(--side-bar-width);
    height: 100%;
    background-color: var(--color-window-secondary);
    overflow-y: scroll;
}

.sidebar>.list>li,
.sidebar>.list>.sublist>li {
    background-color: var(--color-window-secondary);
}