:root {
    --side-bar-width: 300px;
}


/* Sidebar*/

.sidebar {
    position: fixed;
    width: var(--side-bar-width);
    height: 100%;
    background-color: var(--color-bg);
    color: var(--color-text-secoundary);
    overflow-y: scroll;
    z-index: 2;
    box-shadow: 2px 4px 8px 2px var(--shadow-color);
}

.sidebar+* {
    margin-left: var(--side-bar-width);
}

.sidebar>.list>li,
.sidebar>.list>.sublist>li {
    background-color: var(--color-bg);
}

.sidebar>.list>li>a,
.sidebar>.list>.sublist>li>a {
    color: var(--color-text-secoundary);
}

@media (max-width: 1024px) {
    /* On large screens*/
}

@media (max-width: 768px) {
    /* On medium screens*/
    .sidebar {
        display: none;
    }
    .sidebar+* {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    /* On small screens*/
}