:root {
    --banner-height: 300px;
}

.banner {
    height: var(--banner-height);
    position: relative;
}

.banner>img,
.banner>video {
    object-fit: cover;
    height: var(--banner-height);
    ;
}

.banner-overlay {
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.banner-overlay-gradient {
    background-color: rgba(0, 0, 0, 0.0) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95));
}

.banner-viewport {
    height: 100vh !important;
}

.banner-viewport>img,
.banner-viewport>video {
    height: 100vh !important;
}

.banner-content {
    width: 80%;
    margin: auto;
    padding-top: calc(2*var(--dimentions-base));
}

.banner-title {
    margin-top: var(--dimentions-base);
    margin-bottom: var(--dimentions-base-small);
    font-size: 4em;
}