@import "./variables";
@import "./animation";

// local vars
$carouselHeight: 300px;

.carousel {
  height: $carouselHeight;
  position: relative;
  box-sizing: border-box;

  &.carousel-vh {
    $carouselHeight: 300px;
    height: $carouselHeight;
  }

  .item {
    /* display: none; */
    position: absolute;
    opacity: 0;
    height: $carouselHeight;
    width: 100%;

    img,
    a > img {
      height: $carouselHeight;
      object-fit: cover;
    }
  }

  .carousel-indicator {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
}

.carasoule-contorl {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;

  .carasoule-contorl-btn {
    width: 32px;
    height: 32px;
    background-color: #d4d4d4;
    border-radius: 50%;
  }

  &.next {
    right: 8px;
  }
  &.prev {
    left: 8px;
  }
}

.carousel-indicator-circle {
  width: 8px;
  height: 8px;
  background-color: #d4d4d4;
  border-radius: 50%;
  margin: 8px 4px;
  &.selected {
    background-color: #838383;
  }
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
}
