@import "./variables";
@import "./mixins";

// local vars
$minColumnWidth: 8.3%;

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

// small screen mobile first grid
@for $i from 1 through 12 {
  .col-s-#{$i} {
    flex-basis: calc($minColumnWidth * #{$i});
  }
}

// small screen mobile first grid
@for $i from 1 through 12 {
  .col-m-#{$i} {
    @include screenSize(s) {
      flex-basis: 100%;
    }
    @include screenSize(m) {
      flex-basis: calc($minColumnWidth * #{$i});
    }
  }
}

// large screen mobile first grid
@for $i from 1 through 12 {
  .col-#{$i} {
    @include screenSize(s) {
      flex-basis: 100%;
    }
    @include screenSize(m) {
      flex-basis: 100%;
    }
    @include screenSize(l) {
      flex-basis: $minColumnWidth * #{$i};
    }
  }
}
