@import "./variables";

.list {
  list-style: none;

  li {
    padding: $dimentionsBase;
    background-color: $colorWindow;

    .prefix {
      vertical-align: middle;
      padding-right: 8px;
    }

    .postfix {
      float: right;
    }

    &.active {
      border-left: 2px solid $colorAccent;
      filter: brightness(95%);
    }

    &:hover {
      filter: brightness(95%);
    }
  }
  &.horizontal > li {
    display: inline-block;
  }
}

.sublist {
  margin-left: $dimentionsBase;
  position: relative;
}

/* .sublist:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $colorAccent;
} */

.label {
  font-size: $fontSizeSmall;
  background-color: $colorTextSecondary;
  color: $colorTextPrimaryLight;
  padding: $dimentionsBaseSmall / 2 $dimentionsBaseSmall $dimentionsBaseSmall /
    2 $dimentionsBaseSmall;
  border-radius: $roundSmall / 2;
}

.badge {
  display: inline-block;
  font-size: $fontSizeXSmall;
  line-height: $dimentionsBase * 1.2;
  width: $dimentionsBase * 1.2;
  height: $dimentionsBase * 1.2;
  vertical-align: middle;
  background-color: $colorAccent;
  text-align: center;
  font-weight: 800;
  color: $colorTextPrimaryLight;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
  .list {
    display: none;
    position: absolute;
    background-color: $colorWindow;
    min-width: 160px;
    box-shadow: 2px 4px 8px 2px $shadowColor;
    z-index: 1;
  }
  &:hover.dropdown > .list {
    display: block;
  }
}
