@import "./variables";
@import "./animation";

.modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  padding: 5%;
  display: none;
  background-color: #0000005b;
  z-index: 2;
}

/* Add Animation */

.modal-title {
  font-size: 2em;
  padding: $dimensionsBase $dimensionsBaseSmall;
}

.modal-box {
  background-color: var(--window-color-secondary);
  padding: $dimensionsBase;
  border-radius: 12px;
  margin: auto;
}

.modal-content {
  padding: $dimensionsBaseSmall;
}

.modal-footer {
  float: right;
}

.modal-box-fixed {
  width: 300px;
}
