@import "./variables";
@import "./animation";

.settings-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  display: none;
  background-color: #0000005b;
  z-index: 10;
}

/* Add Animation */

.settings-bar-box {
  background-color: var(--window-color-secondary);
  position: fixed;
  max-width: 400px;
  top: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
  height: 100%;
}

.settings-bar-title {
  font-size: 2em;
  flex: 0;
  padding: 16px;
}

.settings-bar-content {
  padding: 16px;
  flex: 1;
  overflow: auto;
}

.settings-bar-footer {
  position: relative;
  flex: 0;
  padding: 16px;
}
