ol.stepper {
  --circle: 2.5em; /* size of circle */
  --spacing: 0.5rem;
  --font: medium;
  display: flex;
  flex-wrap: wrap;
  counter-reset: step;
  &.stepper-small {
    --circle: 2em; /* size of circle */
    --spacing: 0.1rem;
    --font: smaller;
  }
}

ol.stepper li {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--font) !important;
}

ol.stepper li::before {
  font-size: var(--font) !important;
  content: counter(step) "";
  counter-increment: step;
  background-color: lightgray;
  position: relative;
  z-index: 1;
  display: block;
  line-height: var(--circle);
  text-align: center;
  width: var(--circle);
  height: var(--circle);
  border-radius: 50%;
  margin: 0 auto 8px;
}

ol.stepper li.active::before,
ol.stepper li.active:not(:last-child):after {
  background: var(--accent-color);
  color: white;
}

ol.stepper li:not(:last-child):after {
  content: "";
  position: relative;
  top: calc(var(--circle) / 2);
  width: calc(100% - var(--circle) - calc(var(--spacing) * 2));
  left: calc(50% + calc(var(--circle) / 2 + var(--spacing)));
  height: 2px;
  background-color: lightgray;
  order: -1;
}
