table {
  width: 100%;
  border-collapse: collapse;
  display: table;
  overflow-x: auto;
  white-space: nowrap;
}

thead td,
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: lightgrey;
  color: white;
  font-weight: 700;
}

td,
th {
  border: 1px solid #ccc;
  padding: 8px;
}

table.striped tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr:hover {
  background-color: lightgrey;
}

td {
  padding: 4px;
}
